h5py==3.9.0
ipykernel==6.23.2
matplotlib==3.7.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
matplotlib-label-lines==0.6.0
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1651020413938/work
scikit-build==0.17.6
scikit-learn==1.2.2
scipy==1.10.1
tqdm==4.65.0
